* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-weight: bold;
}

body {
    background-color: #f6f8fc;
}

/*img { 
    border-style: none;
    max-width: 108%;
    height: 100px;
}
*/
.content {
    /*width: 100vw;
    height: 100vh;*/
    padding: 1rem;
    background-color: #fff;
    height: 100vh;
    width: 100vw;
}

/*ADICIONANDO O RESPONSIVO para telas porque o responsivo do mobile ja esta feito
por default*/

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
    
}



